<div>
  <h4>
    <%= complaint.title %>
  </h4>
  <br>
  <div>
    <span>Description :</span>
    <%= complaint.description %>
  </div>
  <br>
  <div>
    <span>Status :</span>
    <%= complaint.status %>
  </div>
  <br>
  <div>
    <span>numVotes :</span>
    <%= complaint.numVotes %>
  </div>
  <br>
</div>